@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Sketch&family=Noto+Sans+Elbasan&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0%;
    margin: 0%;
}
/*main container to aligne items*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin: 20px auto; /*center the container into the page*/
    border-bottom: 1px solid #ddd;
}
/*name and image container*/
.profile {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

/*profile pic style*/
.profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 0px;
    object-fit: cover; /*fit the image inside the border*/
    transition: transform 0.3s ease;
}
.profile img:hover {
    transform: scale(2);
}

/*name link style*/
.profile .name {
    text-decoration: none;
    color: rgba(212, 115, 35, 0.983);
    font-size: 16px;
    font-weight: bold;
    margin: 30px;
}

/*botton email style*/
.botton {
    background-color: #8b8a73;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: bold;
    margin-right: 100px;
}

/*Topic style*/
.topic {
    text-align: center;
}

h1 {
    margin-top: 60px;
    font-family: poppins;
    color: rgba(212, 115, 35, 0.983);
}
h3 {
    margin-bottom: 30px;
    font-family: lato;
    color: #8b8a73;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap; /*allows the cards to be acomodated in multiple rows*/
}

/*styles for each card*/
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 420px;
    display: flex;
    flex-direction: column;
    font-family: lato;
}

/*image card style*/
.card img {
    width: 100%;
    height: 200px;
}

/*text content inside the card*/
.content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*styles for "spot"*/
.spot {
    font-size: 14px;
    color: #555;
    font-weight: bold;
}

/*style for "title"*/
.title {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

/*style for description*/
.description {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}

/*style for date*/
.date {
    font-size: 12px;
    color: #999;
}